.initial-tag-page {
    color: white;
    background-image: url('../img/initial-tag-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    .initial-tag-page .header img {
        width: 30%;
    }

    .initial-tag-page .initial-tag-content {
        background: radial-gradient(rgba(138, 172, 184, 1), rgba(138, 172, 184, .9));
        width: 40%;
        height: 80%;
        min-height: 800px;
        min-width: 500px;
        margin-left: 30%;
        padding: 2%;
        border-radius: 5vw;
        /* margin-top: 5%; */
    }

        .initial-tag-page .old-user-signup {
            width: 100%;
            height: 50%;
        }

        .initial-tag-page .instructions{
            font-size: 2vw;
            /* font-family: monospace; */
        }

        .initial-tag-page .suggestion{
            /* font-family: monospace; */
            font-size: 1.25vw;
        }

        .initial-tag-page table{
                width: 100%;
            }

            .initial-tag-form{
                font-family: 'Raleway';
                width: 500px;
                margin: 20px auto;
            }

            .initial-tag-form input[type="text"] {
                box-sizing: border-box;
                outline: none;
                display: block;
                width: 100%;
                padding: 7px;
                border: none;
                border-bottom: 4px solid #ddd;
                background: transparent;
                margin-bottom: 10px;
                font: 16px 'Raleway';
                height: 45px;
            }

    .initial-tag-page input[type="button"] {
        background-color: #415fb1;
        border: 1px solid #27A0A0;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        font-family: 'Raleway';
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
    }

    .new-user-facebook-signup {
        height: 59%;
    }

        .facebook-tag-form {
            height: 65%;
        }

            .facebook-tag-form ul {
                overflow: auto;
                height: 100%;
            }

                .facebook-tag-form ul li {
                    height: 5%;
                }

