.judgrpage {
    color: white;
    width: 100%;
    height: 100%;
    background-image: url('../img/background5.png');
}

    .content-container{
        width: 55%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
    }
        
        .friend-name {
            font-size: 3vw;
        }

        .hashtag {
            font-size: 2vw;
        }

        .profile-picture {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
        }

    .hashtag-button-container {
        width: 100%;
        height: 30%;
        text-align: center;
    }

        .hashtag-button-container li {
            display: inline-block;
            width: 20%;
            height: 100%;
        }

            .hashtag-button-container li .endorsebutton {
                width: 100%;
                height: 100%;
                background-image: url('../img/check.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .hashtag-button-container li .passbutton {
                width: 100%;
                height: 100%;
                background-image: url('../img/x.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }


            .hashtag-button-container li .passbutton.already-seen {
                width: 100%;
                height: 100%;
                background-image: url('../img/pass.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

    #NewUserSelect {
        font-size: 1vw;
    }

    .judgr-to-profile {
        font-size: 1vw;
    }