 html,body
{
    font-family:"Raleway", "sans-serif";
    font-weight:500;
    -webkit-font-smoothing:antialiased;
    -webkit-user-select: none;
    color:#42A6F3;
    height: 100%;
    width: 100%;

    font-size: 1vw;

    padding: 0;
    margin: 0;
}

ul, li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hidden {
    display: none;
}

.button {
    cursor: pointer;
}

.spacer-50 {
    height: 50%;
}

.spacer-40 {
    height: 40%;
}

.spacer-20 {
    height: 20%;
}

.spacer-10 {
    height: 10%;
}

.spacer-5 {
    height: 5%;
}

.panel {
    width: 100%;
    height: 100%;
    text-align: center;
}

@media(min-width: 900px) {.header {
    color: white;
    font-size: 3.5vw; 
    text-align: center; 

    }
}
@media(max-width: 900px) {.header {
    color: white;
    font-size: 31.5px; 
    text-align: center; 

    }
}

@media (min-width: 900px) {
    .flavortext {
    color: white;
    font-size: 2vw; 
    text-align: center; 
}
    }
@media (max-width: 900px) {
    .flavortext {
    color: white;
    font-size: 18px; 
    text-align: center; 
}
    }

@media (min-width: 900px){

.login-button {

        margin-top: 1%;
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 5px;
        padding: .5%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: 10px;
        font-size: 2.5vw; 
        font-weight: bold;
        vertical-align: middle;
        line-height: 150px;
        background-color: #42A6F3;
        color: white;
        border-radius: 75px;

    
    }
}
@media (max-width:900px){
    .login-button {

        margin-top: 1%;
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 5px;
        padding: .5%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
         line-height: 150px;
        font-size: 22.5px; 
        font-weight: bold;
        background-color: #42A6F3;
        color: white;
         border-radius: 75px;

    }

} 

